<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ImageUtility</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.nagarro.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.nagarro.controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUpload</display-name>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.nagarro.controllers.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageRetreiver</display-name>
    <servlet-name>ImageRetreiver</servlet-name>
    <servlet-class>com.nagarro.controllers.ImageRetreiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRetreiver</servlet-name>
    <url-pattern>/ImageRetreiver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageEdit</display-name>
    <servlet-name>ImageEdit</servlet-name>
    <servlet-class>com.nagarro.controllers.ImageEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageEdit</servlet-name>
    <url-pattern>/ImageEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDelete</display-name>
    <servlet-name>ImageDelete</servlet-name>
    <servlet-class>com.nagarro.controllers.ImageDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDelete</servlet-name>
    <url-pattern>/ImageDelete</url-pattern>
  </servlet-mapping>
</web-app>